@charset "utf-8";
/* CSS Document */
.folder-hot-image, .folder-news-image {
	float: left;
	border: 1px solid #DDDDDD;
	padding: 1px;
	margin-right: 10px;
	margin-bottom: 4px;
}
.folder-hot-image {
	width: 200px;
	height: 150px;
}

.folder-hot-news, .folder-news {
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
        float: left;
        width: 95.5%;
}
.folder-news-image {
	width: 120px;
	height: 100px;
}
.folder-news {
	border-top: 1px solid #CEDFEB;
}
/*.folder-news:last-child {
	border-bottom: none;
}*/

.foldernews-older-list {
	padding-left: 16px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}