@charset "utf-8";
/* CSS Document */

.folder-title {
    float:left;
    margin-top: 12px;
}
.folder-title-sub, .folder-title-sub-selected {
    float: left;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #B1B1B1;
    border-left: 1px solid #B1B1B1;
    border-right: 1px solid #B1B1B1;
    /*    min-width: 110px;*/
    height: 20px;
    text-align: center;

    font-size: 12px;
    top: 1px;
    z-index:1;
}

.folder-title-sub {
    background-color:#eeeeee;
}
.folder-title-sub-selected {
    background-color:#FBFBFB;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-weight: bold;

}
.folder-title-sub-selected a {
    color: #c00101;
}

#folder-detail {
    float: left;
    width: 100%;
    border: 1px solid #DDDDDD;

    -webkit-box-shadow: #555 2px 2px 4px; /* spread */

}
#folder-topnews {
    float: left;
    width: 310px;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 4px;
}
.folder-topnews-title {
    color:#000000;
    font:bold 13px arial;
    text-decoration:none;
}
.folder-othernews {
    float: right;
    position: relative;
    width: 180px;
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 4px;
}

.folder-othernews a {
    font-size: 12px;
    color: #000000;
}
.foldertopimage {
    float: left;
    border: none;
    padding: 1px;
    border: 1px solid #DDDDDD;
    margin-right: 8px;
    margin-bottom: 4px;
    width: 120px;
    height: 100px;
}