@charset "utf-8";
/* CSS Document */

#hotnews {
    border: 1px solid #DDDDDD;
    padding: 8px;
    padding-right: 10px;
    width: 100% - 16px;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    margin-bottom: 10px;
}
#hotnews-top1 {
    width:100%;
    padding-left: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid #DDDDDD;
}
.hotnews-top1-image {
    float:left;
    width: 150px;
    height: 130px;
    padding: 2px;
    margin-right: 8px;
    border: 1px solid #999;
}


.hotnews-top1-title{
    margin-top: 0;
    margin-bottom: 0.25em;
    font-size: 20px;
    line-height: 1.2em;
}
#hotnews-top234 {

    width:100%;
    padding-left: 8px;
    margin-top:10px;
}
#hotnews-top234-sub {
    width:160px;
    margin-right: 4px;
    float: left;
    text-align:center;
    font-weight: bold;
}

.hotsubimage {
    padding: 2px;
    margin-right: 8px;
    border: 1px solid #999;
    width: 120px;
    height: 120px;
}
.hotnews-top234-title {
    text-align:left;
    padding-left: 2px;
    padding-right: 2px;

}
.hotnews-top234-title a {
    color: #000000;
}