@charset "utf-8";
/* CSS Document */

.newnews {
	text-align: left;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 16px;
}

.newnews a {
	font-weight: bold;
	font-size: 12px;
}
.box-newnews {
	text-align: left;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 16px;
	min-height: 3px;
}

.box-newnews a {
	font-weight: bold;
	font-size: 12px;
}

.titlesmall {
	margin-top: 0;
	margin-bottom: 6px;
	border-bottom: 1px solid #DDDDDD;
}